.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul {
    list-style: none;
}

li label {
    font-weight: normal;
}

footer {
    margin-bottom: 12px;
}

.gtitle {
    font-size: inherit !important;
}