.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul {
    list-style: none;
}

li label {
    font-weight: normal;
}

footer {
    margin-bottom: 12px;
}

.affix {
    top: 20px;
    z-index: 9999 !important;
    width: 250px;
}
