.navbar {
    border-radius: 0;
}

ul {
    list-style: none;
}

li label {
    font-weight: normal;
}

footer {
    margin-bottom: 12px;
    padding: 0 !important;
}

.gtitle {
    font-size: inherit !important;
}

#donate {
    display: inline-block;
}

.footer-link {
    margin-left: 10px;
    color: #333 !important;
}

#catPic {
    width: 250px;
    height: 350px;
}

/*
@media screen and (orientation:portrait)
{
   body
   {
      background: red;
   }
}
*/