{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Cleveland Tech Survey{% endblock %}

{% block head %}
{{ super() }}
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<!-- Plotly.js -->
<script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to the Cleveland Tech Survey!</h1>
    <h2>Total Respondents: {{ num_respondents }}</h2>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('.edit_survey', id=user.id) }}"><button type="button" class="btn btn-default login-buttons">Take the Survey Here</button></a>
    {% endif %}
    <h3>Download the anonymous data</h3>
    <a href="{{ url_for('main.download_data') }}"><button type="button" class="btn btn-default" id="dataDownload">Download</button></a>
</div>
<h1>The Average Tech Employee in Cleveland:</h1>
{% for category in community_profile.keys() %}
<h3>{{ category }}</h3>
<hr>
<div class='row'>
    {% set questions = community_profile[category] %}
    {% for question in questions %}
    {% set answer = community_profile[category][question][1] %}
    {% set formatted_question = community_profile[category][question][0] %}
    <div class="panel-group" id="accordion">
        <div class='col-md-6'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ formatted_question }}">
                        <h4 class="panel-title" value="{{ formatted_question }}">{{ question }}? {{ answer }}</h4>
                    </a>
                </div>
                <div id="collapse-{{ formatted_question }}" class="panel-collapse collapse"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
<script>
    $('.panel-title').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url: "{{ url_for('main.post_chart_data') }}",
            method: "POST",
            data: JSON.stringify($(this).attr("value")),
            contentType: 'application/json;charset=UTF-8',
            success: function(python) {
                var chartTitle = python.chart_title;
                var graphData = python.graph_dict;
                var chartId = '#' + "collapse-" + chartTitle.replace(/"/g, '')
                var $chartId = $(chartId);
                $chartId.empty();

                (function() {
                    var d3 = Plotly.d3;

                    var WIDTH_IN_PERCENT_OF_PARENT = 100,
                        HEIGHT_IN_PERCENT_OF_PARENT = 100;

                    var gd3 = d3.select(chartId)
                        .append('div')
                        .attr('class', 'panel-body')
                        .style({
                            width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                            'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',

                            height: HEIGHT_IN_PERCENT_OF_PARENT + 'vh',
                            'margin-top': (100 - HEIGHT_IN_PERCENT_OF_PARENT) / 2 + 'vh'
                        });

                    var gd = gd3.node();

                    Plotly.plot(gd, graphData.data, graphData.layout, {displayModeBar: false, showLink: false});

                    window.onresize = function() {
                        Plotly.Plots.resize(gd);
                    };
                })();
            }
        })
    });
</script>
{% endblock %}
