{% extends "base.html" %}

{% block title %}Cleveland Tech Survey - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>Survey Responses</h1>
        <ul>
            {% for question in questions %}
            <li>{{ question }}</li>
            {% endfor %}
        </ul>

        <!--{% for question, answers in questions_and_answers %}-->
            <!--<h4>{{ question }}</h4>-->
            <!--<ul>-->
            <!--{% for answer in answers %}-->
                <!--<li>{{ answer }}</li>-->
            <!--{% endfor %}-->
            <!--</ul>-->
        <!--{% endfor %}-->

        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_survey') }}">Edit Survey Responses</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_survey', id=user.id) }}">Edit Survey Responses[Admin]</a>
        {% endif %}
    </div>
</div>
{% endblock %}